table{
	margin-left: auto;
	margin-right: auto;
}

/* Row headings have space between itself and following row*/
tr, th{
	padding-bottom: 20px;
}

tr, th{
	width: auto;
}

.td-left{
	width:auto;
	text-align:left;
}

body{
	background-color: black;
	color: white;
}

@font-face {
	font-family:"Here Lies MECC Regular";
	src:url("fonts/here_lies_mecc.eot?") format("eot"),
	url("fonts/here_lies_mecc.woff") format("woff"),
	url("fonts/here_lies_mecc.ttf") format("truetype"),
	url("fonts/here_lies_mecc.svg#Here-Lies-MECC") format("svg");
	font-weight:normal;font-style:normal;
}

@font-face {
	font-family:"IFC INSANE RODEO";
	src:url("fonts/IFC INSANE RODEO.woff") format("woff");
	font-weight:normal;font-style:normal;
}

/* Fonts for everything generic */
p, tr, th, .normalFont {
	font-family: "Here Lies MECC Regular";
	/*font-size: 105%;*/
}

/* Everything that needs to be centered */
tr, th, .textAlignCenter, .title{
	text-align: center;
}

.marginTop{
	margin-top: 5em;
}

.boxed{
	width: 65%;
	margin-left: auto;
	margin-right: auto;
}

.paragraphAlignCenter{
	margin: auto;
	width: 30em;
}

.trailParagraphAlignCenter{
	margin: auto;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	width: 55em;
}  

.learnTrailParagraph{
	margin-left: 10em;
	margin-right: 10em;
	margin-top: 5em;
}

.optionInput {
	width: 10em;
	margin-bottom: 2%;
	background-color: black;
	color: white;
	border: solid;
	text-transform: uppercase;
}

img {
	width: 70%;
}

.alignCenter{
	margin: auto;
	width: 50%;
}

.options{
	margin-left: 32em;
}

.spaceButton{
	font-family: "Here Lies MECC Regular";
	border: none;
	background: none;
	color: white;
	font-size: 115%;
}

.spaceButton:focus{
	font-family: "Here Lies MECC Regular";
	border: none;
	background: none;
	color: white;
	outline: none;
	box-shadow: none;
}

.title{
	font-family: "IFC INSANE RODEO";
	font-size: 400%;
}

h1 {
	margin-bottom: 0px;
}

.optionsList{
	margin-left: 1.5em; /* tabbed over */
}

.centerParagraph{
	margin-left: 25%;
	margin-right: 25%;
}

.bordered{
	border: solid white 2px;
	padding-left: 5px;
	width: 45%;
	margin-left: auto;
	margin-right: auto;
}

.negativeColor{
	color: black;
	background-color: white;
}

.status{
	margin-right: auto;
	margin-left: auto;
	padding-left: 0.5em;
}

.rest{
	background-color: black;
	color: white;
	border-color: white;
	border-style: solid;
	border-width: 5px;
	margin-right: 38em;
	margin-left: 38em;
}

.talk{
	margin-right: 32em;
	margin-left: 32em;
	margin-top: 30px;
}

.buy{
	margin-left: auto;
	margin-top: auto;
}

.cash{
	margin-left: 5em;
}

.fishing{
    background-image: url("https://swe.umbc.edu/~fritzk1/OregonTrail/mainPages/images/fishing.png");
    margin-bottom: 5em;
    margin-left: 24em;
}

#wagon {
  position: absolute;
  width: 238px;
  height: 87px;
  margin-left: 130px;
  margin-top: 30px;
  background-image: url("mainPages/trail/images/ford.png");
}

#wheelCanvas {
  position: absolute;
  width: 1px;
  height: 1px;
  margin-top: 70px;
}

#ford {
  position: absolute;
  width: 238px;
  height: 87px;
  margin-left: 40%;
  margin-top: 350px;
  background-image: url("mainPages/trail/images/ford.png");
}

#crossingImage {
  position: absolute;
  width: 238px;
  height: 87px;
  margin-left: 40%;
  margin-top: 350px;
}

#riverCrossCanvas {
  /*position: absolute;*/
  border-width: 10px;
  border-style: solid;
  border-color: white;
  width: 1000px;
  height: 600px;
  /*margin-left: auto;*/
  background-image: url("mainPages/trail/images/crossing.png");
}

.trailCanvas{
  /*position: relative;*/
  width: 55.5em;
  height: 18em;
  /*margin-left: 0px;*/
  background-image: url("mainPages/trail/images/trail.jpg");

}

.front {
  position: absolute;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  left: 254px;
  top: 85px;
}
.back {
  position: absolute;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  left: 318px;
  top: 85px;
}

.moveWheel{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation-iteration-count: infinite;
  background-image: url("mainPages/trail/images/wheel.png");

}

.front .moveWheel {
  -webkit-animation: anticlockwise 12s;
}
.back .moveWheel {
  -webkit-animation: anticlockwise 12s;
}

@-webkit-keyframes anticlockwise {
  0% {
    -webkit-transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
